.container-title{
    padding-top: 20px;
}

.container-filtrar{
    padding-bottom: 10px;
}

    .filtrar{
      
    }



@media only screen and (max-width: 400px) {
    #table-movimientos{
        font-size: 0.8em;
    }
    .modal-title{
        font-size: 1em;
    }
  }